*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#e9ecef;
    font-family:Arial, sans-serif;
}

.message-box{

    background-color:white;
    width:500px;
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    animation:fadeIn 1s ease;
}

h1{
    color:#28a745;
    margin-bottom:20px;
    font-size:35px;
}

p{
    font-size:20px;
    color:#555;
}

.button{

    display:inline-block;
    margin-top:30px;
    padding:12px 25px;
    background-color:#578680;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.button:hover{
    background-color:#365551;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
